<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Text -->
        <section class="mb-4">
            <h2>Connect Me!</h2>
        </section>
        <!-- Section: Text -->

        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/kebing-liu-b1b05a211/"
                role="button">
                <img src="https://www.clipartmax.com/png/middle/180-1804713_linkedin-icon-for-resume.png"
                    class="contact">
            </a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/AEsir777" role="button">
                <img src="https://cdn-icons-png.flaticon.com/512/38/38401.png" class="contact">
            </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <a href="https://www.flaticon.com/free-icons/sky" title="sky icons">Sky icons created by Chanut-is-Industries -
            Flaticon</a>
    </div>
    <!-- Copyright -->
</footer>
</html>