/* fix screen smaller than sm */
@media (max-width: 576px) {
    .col-sm-6 {
    width: 50% !important;
        flex: 0 0 auto !important;
    }
}

body {
    background: #F9F9F9 top/cover url("../images/background-image-dark.jpg") no-repeat;
    font-family: 'Jost', sans-serif !important;
    color: #dcf5f1 !important;
}

hr {
    margin: 1.25rem auto 1.25rem !important;
    border: none !important;
    border-top-style: dotted !important;
    border-top-color: white !important;
    border-top-width: 0.4rem !important;
    opacity: 1 !important;
    width: 10%;
}

h5 {
    text-align: center;
}

.name {
    font-size: 4rem !important;
    font-family: 'Satisfy', cursive;
}

.navigation-bar{
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

/* introduction-section */
.profile-container{
    padding-top: 3%;
    display: flex;
    margin: 13% 13%;
    flex-direction: column;
    align-items: center;
}

#my-image{
    display: block;
    background-color: #F9F9F9;
    border-radius: 50%;
    margin-top: auto;
    width: 6.25rem;
}

.brief-intro{
    display: block;
    padding: 1% 3% 5%;
    text-align: center;
    font-size: 1.1rem;
}

.resume-link{
    font-size: 1.5rem !important;
    background-color: rgba(18, 19, 19, 0.3) !important;
}

.resume-link:hover{
    background-color: rgba(256, 256, 256, 0.6) !important;
}


/*skills*/
.skills-content-container{
    padding: 3% !important;
    display: flex !important;
    margin: 3% 3% !important;
    flex-direction: row;
    align-items: center; 
}

.skill-container{
    padding: 1rem;
    margin: 1.5rem auto;
    width: 9rem;
    height: 9rem;
    align-items: center;

    border-radius: 2rem !important;
    background-color: rgba(18, 19, 19, 0.5) !important;
    box-shadow: 0 0 0 1px rgba(18, 22, 16, 0.5), 0 2px 4px rgba(107, 116, 109, 0.3),
        0 2px 4px rgba(174, 184, 176, 0.5);
}

.skills-images{
    background-color: transparent;
    width: 4rem;
    margin-bottom: 0.5rem;
}


/* Projects */
#projects-section{
    padding-bottom: 10%;
}

#project-carousel {
    padding-left: 2%;
}

.carousel-indicators {
    margin-bottom: 4% !important;
} 

/* carousel slides */
.project-item {
    margin: 2%;
    border-radius: 2rem !important;
    background-color: rgba(18, 19, 19, 0.3) !important;
    box-shadow: 0 0 0 1px rgba(18, 22, 16, 0.5), 0 2px 4px rgba(107, 116, 109, 0.3),
        0 2px 4px rgba(174, 184, 176, 0.5);
}

.project-item:hover {
    background-color: rgba(18, 19, 19, 0.6) !important;
}

.carousel-img {
    margin: 1% 0%;
    border-radius: 2rem;
    height: 20%;
}

.project-item p {
    margin-bottom: 0.5rem;
}

.tech-used {
    font-size: 1rem !important;
    float: right;
    color: rgba(256, 256, 256, 0.6);
    display: block;
}

.project-btn {
    margin: 4% 5% 2%!important;
    z-index: 4 !important;
}

/* Project title */
.project-title-container{
    margin: 0 !important;
    position: relative !important;
    margin-top: 2% !important;
    min-width: fit-content;
}

.project-title-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 1% 1%;
    min-width: fit-content;
}

.project-title-list::-webkit-scrollbar { 
    display: none;  
}

.project-title-list li {
    border-style: none none solid ;
    border-color:#1f554e;
    border-radius: 1rem;
    box-shadow: 0 0 0 1px rgba(18, 22, 16, 0.5), 0 2px 4px rgba(107, 116, 109, 0.3),
        0 2px 4px rgba(174, 184, 176, 0.5);
    background: linear-gradient(to right bottom, rgba(18, 19, 19, 0.5), rgba(18, 19, 19, 0.3));

    user-select: none;
    cursor: pointer !important;
    list-style-type: none !important;
    font-size: 1.5rem !important;

    padding: 1% 2% 0% 2%;
    margin: 2%;
}

.project-title-list li:hover{
    background: linear-gradient(to right bottom, rgba(18, 19, 19, 0.9), rgba(18, 19, 19, 0.7));
    border-color: #bafff6;
}

.project-title-list li.active {
    color:#fdfdfd;
    background: linear-gradient(to right bottom, rgba(18, 19, 19, 0.9), rgba(18, 19, 19, 0.7));
    border-color: rgb(151, 218, 175);
}

.project-title {
    height: 4rem;
}

/* Footer */
.contact {
    padding: 0.2rem 0.4rem !important;
}

.contact-img {
    width: 1.8rem;
    height: 1.8rem;
}